<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback:configuration>
<!-- - Logback 配置文件。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false" xmlns:logback="http://logback.qos.ch/">
	<property resource="system.properties" />

	<!-- [公共Appender] 默认 -->
	<appender name="DEFAULT-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/common-default.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d [%X{userId}/%X{remoteAddr} - %X{requestURIWithQueryString}] %-5p %c{2} - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>

	<!-- [公共Appender] 仅记录异常日志 -->
	<appender name="SYS-ERROR-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/common-error.log</file>
		<param name="append" value="true" />
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d [%X{userId}/%X{remoteAddr} - %X{requestURIWithQueryString}] %-5p %c{2} - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>

	<!-- web层统一日志 -->
	<!--<appender name="SYS-WEB-APPENDER"-->
		<!--class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">-->
		<!--<file>${logging_root}/${app_name}-web.log</file>-->
		<!--<param name="append" value="true" />-->
		<!--<encoder>-->
			<!--<charset>${sys_logging_encoding}</charset>-->
			<!--<pattern>%d [%X{userId}/%X{remoteAddr} - %X{requestURIWithQueryString}] %-5p %c{2} - %m %X{TimeKey}%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->
	
	<!-- 服务层日志 -->
	<appender name="SYS-BIZ-SERVICE-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/${app_name}-biz-service.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d [%X{userId}/%X{remoteAddr}] %-5p %c{2} - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>

	<!-- 组件层日志 -->
	<appender name="SYS-CORE-SERVICE-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/${app_name}-core-service.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d [%X{userId}/%X{remoteAddr}] %-5p %c{2} - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>
	
	<!-- DAL统一日志 -->
	<appender name="DAL-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/common-dal.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d %-5p %c{2} - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>
	
	<!-- web层摘要日志 -->
	<appender name="SYS-WEB-PAGE-DIGEST-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/${app_name}-page-digest.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>

	<!-- 外部系统调用本系统接口摘要 -->
	<appender name="SYS-BIZ-SERVICE-DIGEST-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/${app_name}-biz-service-digest.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>

	<!-- 调用外部接口摘要 -->
	<appender name="SYS-INTEGRATION-DIGEST-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/${app_name}-integration-digest.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>
	
	<!-- DAL接口摘要日志 -->
	<appender name="SYS-DAL-DIGEST-APPENDER"
		class="la.kaike.platform.common.log.appender.DailyRollingFileAppender">
		<file>${logging_root}/${app_name}-dal-digest.log</file>
		<param name="append" value="true" />
		<encoder>
			<charset>${sys_logging_encoding}</charset>
			<pattern>%d - %m %X{TimeKey}%n</pattern>
		</encoder>
	</appender>

	<!-- DAL统一日志 -->
	<logger name="com.ibatis" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="DAL-APPENDER" />
	    <appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<logger name="org.springframework" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<!-- 数据访问层 - SQL -->
	<logger name="java.sql.PreparedStatement" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="DAL-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<!-- DAL 摘要日志 -->
	<logger name="SYS-DAL-DIGEST" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-DAL-DIGEST-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<!-- 平台服务层日志 -->
	<logger name="com.kkl.platform.common.service" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-BIZ-SERVICE-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>
	
	<!-- BIZ-SERVICE 摘要日志 -->
	<logger name="SYS-BIZ-SERVICE-DIGEST" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-BIZ-SERVICE-DIGEST-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<!-- web层摘要日志 -->
	<logger name="SYS-PAGE-DIGEST" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-WEB-PAGE-DIGEST-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<!--&lt;!&ndash; web层统一日志 &ndash;&gt;-->
	<!--<logger name="SYS-WEB-LOGGER" level="${sys_loggingLevel}" additivity="false">-->
		<!--<appender-ref ref="SYS-WEB-APPENDER" />-->
		<!--<appender-ref ref="SYS-ERROR-APPENDER" />-->
	<!--</logger>-->

	<!-- 业务服务层日志 -->
	<logger name="la.kaike.service.biz" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-BIZ-SERVICE-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	
	<!-- 组件层日志 -->
	<logger name="la.kaike.service.iface.impl" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-CORE-SERVICE-APPENDER" />
	    <appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>

	<!-- 平台服务层日志 -->
	<logger name="la.kaike.platform.common.service" level="${sys_loggingLevel}" additivity="false">
		<appender-ref ref="SYS-BIZ-SERVICE-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
	</logger>
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	 <logger name="dao" level="${sys_loggingLevel}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

	<root>
		<level value="${sys_loggingLevel}" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="SYS-ERROR-APPENDER" />
		<!--<appender-ref ref="STDOUT" />-->
	</root>
</configuration>